<div id="<%= dom_id ticket %>">
  <p>
    <strong>Requestnumber:</strong>
    <%= ticket.requestNumber %>
  </p>

  <p>
    <strong>Sequencenumber:</strong>
    <%= ticket.sequenceNumber %>
  </p>

  <p>
    <strong>Requesttype:</strong>
    <%= ticket.requestType %>
  </p>

  <p>
    <strong>Requestaction:</strong>
    <%= ticket.requestAction %>
  </p>

</div>
