<div id="<%= dom_id ticket %>">
  <p>
    <strong>Requestnumber:</strong>
    <%= ticket.request_number %>
  </p>

  <p>
    <strong>Sequencenumber:</strong>
    <%= ticket.sequence_number %>
  </p>

  <p>
    <strong>Requesttype:</strong>
    <%= ticket.request_type %>
  </p>

  <p>
    <strong>Requestaction:</strong>
    <%= ticket.request_action %>
  </p>

</div>
