<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Show this ticket", ticket %>
    </p>
  <% end %>
</div>
<%= byebug
area_map [{geometry: {type: "Polygon", coordinates: [DigsiteInfo.find(589).polygon]}, label: "Hello", tooltip: "World"}] %>

<%= link_to "New ticket", new_ticket_path %>
